:root {
  --background-primary: var(--bg-primary);
  --background-secondary: var(--bg-primary);
  --background-secondary-alt: var(--bg-primary);
  --background-tertiary: var(--bg-primary);
  --background-floating: var(--bg-primary);
  --green-360: var(--accent-1);
}