@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Mono:wght@200..900&display=swap");
:root {
  --background-primary: var(--bg-primary);
  --background-secondary: var(--bg-primary);
  --background-secondary-alt: var(--bg-primary);
  --background-tertiary: var(--bg-primary);
  --background-floating: var(--bg-primary);
  --green-360: var(--accent-1);
  --background-modifier-selected: var(--interactive-bg-highlight);
  --background-modifier-active: var(--interactive-bg-highlight);
  --background-modifier-hover: var(--interactive-bg-highlight);
  --font-primary: "Open Sans";
}

.themedBackground__3a4c0 {
  background: var(--bg-secondary);
  border-radius: var(--border-radii);
}

.cozy_f5c119 .messageContent_abea64 {
  background: var(--bg-secondary);
  padding: 10px;
  margin-left: 0;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--border-radii);
}

.container__62863 {
  background: var(--bg-secondary);
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--border-radii);
  margin-top: 5px;
}

#message-accessories-1235508422166970379 {
  background: transparent;
  padding: 0px;
}

.reaction__4a43f {
  background: var(--bg-secondary);
}

.repliedMessage__636d2 .repliedTextPreview__1a8a4 .repliedTextContent_b12fe1, .threadMessageAccessory_ef0459 .threadMessageAccessoryPreview__58ff3 .threadMessageAccessoryContent__42312 {
  padding: 0px;
  background: transparent;
  border-radius: 0;
}