@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Mono:wght@200..900&display=swap");
:root {
  --background-primary: var(--bg-primary);
  --background-secondary: var(--bg-primary);
  --background-secondary-alt: var(--bg-primary);
  --background-tertiary: var(--bg-primary);
  --background-floating: var(--bg-primary);
  --green-360: var(--accent-1);
  --background-modifier-selected: var(--interactive-highlight);
  --background-modifier-active: var(--interactive-highlight);
  --background-modifier-hover: var(--interactive-highlight);
  --font-primary: "Open Sans";
}

.themedBackground__3a4c0 {
  background: var(--bg-secondary);
  border-radius: var(--border-radii);
}

.cozy_f5c119 .messageContent_abea64 {
  background: var(--bg-secondary);
  padding: 10px;
  margin-left: 0;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--border-radii);
}

.container__62863 {
  background: var(--bg-secondary);
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--border-radii);
  margin-top: 5px;
}